@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mukta:wght@300&display=swap');

.App {
    width: 40%;
    margin: 2em auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    /* color: #696969; */
    color:rgba(160, 24, 201, 0.945);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.185);
}

.todo-header {
    padding: 0.5em;
    border-bottom: 5px solid #5f039c2d;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

.todo-header h1 {
    margin: 0;
}

.form-todo {
    padding: 1em;
    margin: 0 2em;
    border-bottom: 2px solid #5f039c2d;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
