@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mukta:wght@300&display=swap');

.App {
    width: 40%;
    margin: 2em auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    /* color: #696969; */
    color:rgba(160, 24, 201, 0.945);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.185);
}

.todo-header {
    padding: 0.5em;
    border-bottom: 5px solid #5f039c2d;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

.todo-header h1 {
    margin: 0;
}

.form-todo {
    padding: 1em;
    margin: 0 2em;
    border-bottom: 2px solid #5f039c2d;
}

.form-todo h2,
.list-todo h2 {
    text-align: center;
    margin-top: 0;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .4em;
}

.form-control input {
    border: 1px solid rgba(56, 0, 73, 0.322);
    border-radius: 9px;
    background-color: rgba(179, 87, 182, 0.205);
    padding: .5em;
    color: #430446bd;
}

input[type="submit"] {
    width: 100%;
    cursor: pointer;
    padding: 1em;
    display: block;
    border: 1px solid rgb(138, 0, 180);
    border-radius: 5px;  
    color: aliceblue;
    background-color: #660c66d7;  
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.list-todo {
    padding: 0 1em 2em;
    margin: 1em 2em;
}

.list-todo h2 {
    margin-bottom: 0;
}

.list-todo p {
    text-align: center;
}

.todo {
    border-bottom: 1px solid #444;
    padding: 1em 0;
}

.todo h3 {
    margin-bottom: .5em;
}

.todo-done {
    text-decoration: line-through;
    color: rgb(240, 98, 146)
}

.todo p {
    text-align: left;
    font-style: italic;
    font-size: .7em;
    margin-bottom: 1.5em;
}

.todo svg {
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1em;
    transition: .5s;
}

.todo svg:hover {
    color: rgb(240, 98, 146);
}

.loading {
    text-align: center;
    color: aliceblue;
    font-size: 5em;
    font-weight: bold;
}